<% include _header %>

<h1>Posts</h1>

<% if (posts) { %>
  <% posts.forEach(post => { %>
    <div class="card" style="margin-top: 20px">
      <div class="card-header">
        <%= post.title %> <% post.createdAt %>
      </div>
      <div class="card-body">
        <p class="card-text"><%= post.content %><p>
      </div>
    </div>
  <% }) %>
<% } %>

<% include _footer %>
